version: "3"

services:

  runtime-setup:
    image: async-http-client:20.04-5.6
    build:
      args:
        ubuntu_version: "focal"
        swift_version: "5.6"

  documentation-check:
    image: async-http-client:20.04-5.6

  test:
    image: async-http-client:20.04-5.6
    environment: []
      #- SANITIZER_ARG=--sanitize=thread

  shell:
    image: async-http-client:20.04-5.6
