name: Main

on:
    push:
        branches: [main]
    schedule:
        - cron: "0 8,20 * * *"

jobs:
    unit-tests:
        name: Unit tests
        uses: apple/swift-nio/.github/workflows/unit_tests.yml@main
        with:
            linux_5_10_arguments_override: "--explicit-target-dependency-import-check error -Xswiftc -warnings-as-errors"
            linux_6_0_arguments_override: "--explicit-target-dependency-import-check error -Xswiftc -warnings-as-errors"
            linux_6_1_arguments_override: "--explicit-target-dependency-import-check error -Xswiftc -warnings-as-errors"
            linux_nightly_next_arguments_override: "--explicit-target-dependency-import-check error"
            linux_nightly_main_arguments_override: "--explicit-target-dependency-import-check error"

    static-sdk:
        name: Static SDK
        # Workaround https://github.com/nektos/act/issues/1875
        uses: apple/swift-nio/.github/workflows/static_sdk.yml@main
