name: PR

on:
    pull_request:
        types: [opened, reopened, synchronize]

jobs:
    soundness:
        name: Soundness
        uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
        with:
            license_header_check_project_name: "AsyncHTTPClient"
    unit-tests:
        name: Unit tests
        uses: apple/swift-nio/.github/workflows/unit_tests.yml@main
        with:
            linux_5_9_enabled: false
            linux_5_10_arguments_override: "--explicit-target-dependency-import-check error -Xswiftc -warnings-as-errors"
            linux_6_0_arguments_override: "--explicit-target-dependency-import-check error -Xswiftc -warnings-as-errors"
            linux_6_1_arguments_override: "--explicit-target-dependency-import-check error -Xswiftc -warnings-as-errors"
            linux_nightly_next_arguments_override: "--explicit-target-dependency-import-check error"
            linux_nightly_main_arguments_override: "--explicit-target-dependency-import-check error"

    cxx-interop:
        name: Cxx interop
        uses: apple/swift-nio/.github/workflows/cxx_interop.yml@main
        with:
            linux_5_9_enabled: false

    static-sdk:
        name: Static SDK
        # Workaround https://github.com/nektos/act/issues/1875
        uses: apple/swift-nio/.github/workflows/static_sdk.yml@main
